@media screen and (min-width: 1300px) {
  #recipes .header {
      background-image: url("/images/recipes/recipes-main-header.jpg");
      margin-top: 90px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding:200px 400px;
      
      text-align: center;
  }

  #recipes .header .title{
        color: white;
      font-size: 80px;
      line-height: 80px;
      font-weight: bold;
      margin: 40px 0;
  }

    #recipes .header .header_artical .sub_title {
    margin: auto;
    
    color: white;
    font-size: 26px;
    line-height: 36.4px;}
    #recipes {
      padding-top: 0; 
    }
    .recipes_mobile_only .header .header_artical{
      background-image: url("/images/recipes/recipes-main-header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      padding-top:80px;
      padding-bottom: 80px;
      color: white;
      min-height: 400px;
      
    }

    .header .title {
      text-align: center;
          color: white;
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          margin: 40px 0; 
    }
    .header_artical .recipes_artical{
      font-size: 20px;
      line-height: 28px;

    }

    .complete{
      width: 1300px;
      margin: auto;
    }
    #title_com {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 32px 32px 32px;
        text-align: center; }

    .name{
        text-align: center;
        color: black;
        font-size: 20.4px;
        font-weight: bold;
        line-height: 30.8px;
        margin: 26px 0;
        text-align: left;   
    }

    .name:hover{
      color:#ffcd32;
    }
    .viewAll_center{
      text-align: center;
      margin: auto;
      padding-bottom: 50px; 
    }
    #ViewAll {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        padding: 14px 38px 14px 38px;
        border: 2px solid black;
        border-radius: 40px;
        color: black; }
    #ViewAll:hover {
        color: #ffcd32;
        border-color: #ffcd32; } 
}
@media screen and (min-width: 768px) and (max-width:1300px) {
  #recipes .header {
      background-image: url("/images/recipes/recipes-main-header.jpg");
      margin-top: 90px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding:200px 200px;
      
      text-align: center;
  }

    #recipes .header .header_artical .sub_title {
          padding: 10px 10px;
          color: white;
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
          font-family: Open Sans,Tahoma,sans-serif; }
    #recipes {
      padding-top: 0; 
    }
    .recipes_mobile_only .header .header_artical{
      background-image: url("/images/recipes/recipes-main-header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      padding-top:80px;
      padding-bottom: 80px;
      color: white;
      min-height: 400px;
      
    }

    .header .title {
      text-align: center;
          color: white;
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          margin: 40px 0; 
    }
    .header_artical .recipes_artical{
      font-size: 20px;
      line-height: 28px;

    }

    
    #title_com {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 32px 32px 32px;
        text-align: center; }

    .name{
        text-align: center;
        color: black;
        font-size: 20.4px;
        font-weight: bold;
        line-height: 30.8px;
        margin: 26px 0;
        text-align: left;   
    }

    .name:hover{
      color:#ffcd32;
    }
    .viewAll_center{
      text-align: center;
      margin: auto;
      padding-bottom: 50px; 
    }
    #ViewAll {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        padding: 14px 38px 14px 38px;
        border: 2px solid black;
        border-radius: 40px;
        color: black; }
    #ViewAll:hover {
        color: #ffcd32;
        border-color: #ffcd32; 
}
@media screen and (max-width: 768px) {

    #recipes .header {
      background-image: url("/images/recipes/recipes-main-header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }

    #recipes .header .header_artical .sub_title {
          padding: 10px 10px;
          color: white;
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
          font-family: Open Sans,Tahoma,sans-serif; }
    #recipes {
      padding-top: 0; 
    }
    .recipes_mobile_only .header .header_artical{
      background-image: url("/images/recipes/recipes-main-header.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      padding-top:80px;
      padding-bottom: 80px;
      color: white;
      min-height: 400px;
      
    }

    .header .title {
      text-align: center;
          color: white;
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          margin: 40px 0; 
    }
    .header_artical .recipes_artical{
      font-size: 20px;
      line-height: 28px;

    }
    #title_com {
        font-size: 32px;
        font-weight: bold;
        margin: 10px 32px 32px 32px;
        text-align: center; }

    .name{
        text-align: center;
        color: black;
        font-size: 20.4px;
        font-weight: bold;
        line-height: 30.8px;
        margin: 26px 0;
        text-align: left;   
    }

    .name:hover{
      color:#ffcd32;
    }
    .viewAll_center{
      text-align: center;
      margin: auto;
      padding-bottom: 50px; 
    }
    #ViewAll {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        padding: 14px 38px 14px 38px;
        border: 2px solid black;
        border-radius: 40px;
        color: black; }
    #ViewAll:hover {
        color: #ffcd32;
        border-color: #ffcd32; } 
}
