img {
  width: 100%;
}

@media screen and (min-width: 1300px) {
  .recipes_images {
    width: 1300px;
    margin: auto;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding-top: 200px;
  }

  

  .header ul {
    color: #fbbb27;
    padding-bottom: 20px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }

  .header ul li img {
    width: 43px;
  }

  .header ul .recipes_back {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 10px;
  }

  .header .recipe_title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .header p {
    width: 65%;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipes_images img {
    margin-top: 30px;
  }

  .desc {
    font-size: 16px;
    line-height: 16px;
  }

  .desc ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }

  .desc ul li img {
    width: 66px;
  }

  .desc ul .recipe_worlds {
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 30px;
  }

  .recipe_details .recipes_subtitle {
    clear: both;
    color: black;
    font-size: 50px;
    padding: 40px 10px;
  }

  .recipe_details .recipe_nutrition {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 14px 38px 14px 38px;
    border: 2px solid #ffcd32;
    border-radius: 40px;
    color: #ffcd32;
  }

  .recipe_details .recipe_nutrition:hover {
    color: black;
    border-color: black;
  }

  .recipe_details a:visited {
    color: #ffcd32;
    border: 2px solid #ffcd32;
    border-radius: 40px;
  }

  .recipe_details .ingredients {
    clear: both;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 30px;
  }

  .recipe_details .ingredients .ingredients_right {
    font-weight: bold;
  }

  .recipe_details .ingredients span {
    display: block;
    padding-bottom: 10px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step {
    clear: both;
    margin-top: 50px;
  }

  .recipe_details .step .recipes_subtitle {
    font-size: 40px;
    padding: 40px 10px;
  }

  .recipe_details .step .step_title {
    color: #fbbb27;
    font-size: 30px;
  }

  .recipe_details .step .step_body {
    font-size: 20px;
    line-height: 36px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step .step_body b {
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step .steps {
    padding-bottom: 50px;
  }

  .recipe_details .step .steps .hr1 {
    border-top: none;
    border-bottom: 1px solid #F5F5F5;
    width: 100%;
    padding-top: 80px;
  }

  .related {
    padding-bottom: 50px;
  }

  .related .name {
    color: black;
    font-size: 24px;
    text-align: left;
  }

  .related .name:hover {
    color: #fbbb27;
  }

  #myModal .nutrition_facts {
    padding: 40px;
  }

  #myModal .nutrition_facts .close {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  #myModal .nutrition_facts h1 {
    font-size: 50px;
  }

  #myModal .nutrition_facts table {
    font-size: 20px;
    border-top: none;
    border-bottom: 1px solid #d3d3d3;
  }

  #myModal .nutrition_facts table tr td {
    font-family: Open Sans,Tahoma,sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 120px;
  }

  .header .title_body {
    width: 100%;
  }

  .header ul {
    color: #fbbb27;
    padding-bottom: 20px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }

  .header ul li img {
    width: 43px;
  }

  .header ul .recipes_back {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 10px;
  }

  .header .recipe_title {
    font-size: 38px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header p {
    width: 65%;
    margin: auto;
    font-size: 17.6px;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipes_images img {
    margin-top: 30px;
  }

  .desc {
    font-size: 16px;
    line-height: 16px;
  }

  .desc ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }

  .desc ul li img {
    width: 66px;
  }

  .desc ul .recipe_worlds {
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 30px;
  }

  .recipe_details .recipes_subtitle {
    color: black;
    clear: both;
    font-size: 40px;
    padding: 40px 10px;
  }

  .recipe_details .recipe_nutrition {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 14px 38px 14px 38px;
    border: 2px solid #ffcd32;
    border-radius: 40px;
    color: #ffcd32;
  }

  .recipe_details .recipe_nutrition:hover {
    color: black;
    border-color: black;
  }

  .recipe_details .ingredients {
    clear: both;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 30px;
  }

  .recipe_details .ingredients .ingredients_right {
    font-weight: bold;
  }

  .recipe_details .ingredients span {
    display: block;
    padding-bottom: 10px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step {
    clear: both;
    margin-top: 50px;
  }

  .recipe_details .step .recipes_subtitle {
    font-size: 32px;
    padding: 40px 10px;
  }

  .recipe_details .step .step_title {
    color: #fbbb27;
    font-size: 30px;
  }

  .recipe_details .step .step_body {
    font-size: 16px;
    line-height: 30px;
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step .step_body b {
    font-family: Open Sans,Tahoma,sans-serif;
  }

  .recipe_details .step .steps {
    padding-bottom: 50px;
  }

  .recipe_details .step .steps .hr1 {
    padding-top: 10px;
    color: yellow;
    width: 100%;
  }

  .related {
    padding-bottom: 50px;
  }

  .related .name {
    color: black;
    font-size: 24px;
    text-align: center;
  }

  .related .name:hover {
    color: #fbbb27;
  }

  #myModal .nutrition_facts {
    padding: 32px;
  }

  #myModal .nutrition_facts .close {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  #myModal .nutrition_facts h1 {
    font-size: 38px;
  }

  #myModal .nutrition_facts table {
    font-size: 16px;
    border-top: none;
    border-bottom: 1px solid #d3d3d3;
  }

  #myModal .nutrition_facts table tr td {
    font-family: Open Sans,Tahoma,sans-serif;
  }
}

